body {
  margin: 0;
	padding: 0;
  background-image:  url("fondo.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.titulo {
  border: solid 13px aliceblue;
  display: flex;
  padding: 1.6em 0;
  margin: 2em auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  max-width: 60%;
}

.texto {
  
  background-color: transparent;
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  width: 900px;
}

.texto h1 {
  margin: 0;
  padding: 0 0 0.7em 0;
}

.fecha { 
  color: aliceblue;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.6em 0;
  margin: 2em auto;
  max-width: 60%;
}

.formulario-input {
  color: aliceblue;
  padding: 0.5em 0;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

.formulario-input input {
  outline: none;
	background-color: aliceblue;
	border: none;
	border-radius: 25px;
	color: #073B4C;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	height: 40px;
	padding: 0 20px;
	width: 70%;
}

.formulario-sumbit button {
  border: solid 3px aliceblue;
  padding: 6px;
  margin-top: 0.8em;
  background: transparent;
  border-radius: 20px;
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  transition: background 0.6s ease;
}

.formulario-sumbit button:hover {
  background-color: rgba(240, 248, 255, 0.219);
}

.lista{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.6em;
  margin: 2em auto;
  max-width: 70%;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
}

.lista-titulo {
  margin: 0;
  padding: 0;
  color: #CD4976;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
}

.lista-contenido li {
  list-style: none;  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #202352;
  
}

.lista-contenido li span {
  margin-left: 10px;
}

.icon-circle-with-cross{
  cursor: pointer;
  margin-left: 10px;
}

.icon-circle-with-cross:hover {

  color: #EF9313;
  transition: 0.2s ease;
}

.materia {
  color: #EF9313;
}

.tarea {
  color: #202352;
}